body {
    background-color: #373737;
}
svg {
    width: auto;
    height: 100%;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
}
svg #ClockBG {
    stroke: #2e2e2e;
    stroke-width: 4px;
    fill: #313131;
}
svg #Hour {
    stroke: Black;
    stroke-width: 2px;
    fill: White;
    transform: translate(200px,200px) scale(1.2,1.4);
}
svg #Minute {
    stroke: Black;
    stroke-width: 2px;
    fill: White;
    transform: translate(200px,200px) scale(1,2);
}
svg #Second {
    stroke: Black;
    stroke-width: 0.5px;
    fill: red;
    transform: translate(200px,200px) scale(0.3,2);
}